<h2>Dogs</h2>

<ul class="list-group">
    <% @dogs.each do | dog | %>
        <li class="list-group-item">
        <%= link_to dog_path(dog) do %>
            <img src="<%= dog.image_url %>" alt="<%= dog.breed %>" height="150" width="150" class="img-thumbnail rounded-circle float-left">
            <p><%= dog.name %></p>
        <% end %>
        </li>
    <% end %>
</ul>   
