<h2>About</h2>

<h3>Data Sources:</h3>
<ul>
    <li>Faker Gem - Data for people, houses, and more.
    Used to generate all data values except dog image and breed.
    Generates from Address, Name, Number, Date, Creature, Color, and Demographic classes.
    </li>
    <li>dog.ceo - Data for dog breeds and images. 
    Pulls a random image from https://dog.ceo/api/breeds/image/random 
    and uses the returned url to pick the breed and set the image for the dog.
    </li>
</ul>
